/* HTML */
@font-face {
  font-family: 'poppins';
  src: url("../assets/fonts/Poppins-Medium.ttf");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.body {
  background-color: #67AEDB;
}

/* DECLARACION DE VARIABLES */
h1 {
  font-size: 4em;
}

/* DECLARACION DE CONDICIONALES */
p {
  font-family: 'poppins';
}

/* MIXINS */
/*
            HEADER
*/
.nav1 .navbar-brand {
  padding-left: 10%;
}

.nav1 .navbar-logo {
  width: 200px;
}

.nav1 li {
  padding-right: 1%;
  padding-left: 1%;
  font-size: 20px;
}

.nav1 li:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  font-size: 21px;
  border: 6px groove #67AEDB;
  border-radius: 100px;
}

.nav2 .navbar2-brand {
  padding-left: 10%;
}

.nav2 .navbar2-logo {
  width: 200px;
}

.nav2 li {
  padding-right: 1%;
  padding-left: 1%;
  font-size: 20px;
}

.nav2 li:hover {
  -webkit-transition: all .5s;
  transition: all .5s;
  font-size: 21px;
  border: 6px groove #67AEDB;
  border-radius: 100px;
}

/*
            FOOTER
*/
.flex-footer-text {
  text-align: center;
  height: 40px;
  width: 2000px;
  color: white;
}

.flex-footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2000px;
}

.flex-footer-social-item {
  margin: auto;
  padding: 1%;
}

/*
        MAIN INDEX
*/
.blex-background {
  display: none;
  height: 150vh;
}

.blex-background .blex-b {
  margin-top: 10%;
  -webkit-animation-name: blexcarga;
          animation-name: blexcarga;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes blexcarga {
  0% {
    -webkit-transform: rotatez(0deg);
            transform: rotatez(0deg);
  }
  99% {
    -webkit-transform: rotatez(360deg);
            transform: rotatez(360deg);
  }
  100% {
  }
}

@keyframes blexcarga {
  0% {
    -webkit-transform: rotatez(0deg);
            transform: rotatez(0deg);
  }
  99% {
    -webkit-transform: rotatez(360deg);
            transform: rotatez(360deg);
  }
  100% {
  }
}

.inicio {
  padding-top: 8%;
  -webkit-animation-name: moverizquierda;
          animation-name: moverizquierda;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes moverizquierda {
  0% {
    -webkit-transform: translate(500px);
            transform: translate(500px);
  }
  60% {
    -webkit-transform: translate(-160px);
            transform: translate(-160px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes moverizquierda {
  0% {
    -webkit-transform: translate(500px);
            transform: translate(500px);
  }
  60% {
    -webkit-transform: translate(-160px);
            transform: translate(-160px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.inicio-text {
  height: 50vh;
  -webkit-animation-name: extraindex;
          animation-name: extraindex;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes extraindex {
  0% {
    height: 100vh;
  }
  100% {
    height: 50vh;
  }
}

@keyframes extraindex {
  0% {
    height: 100vh;
  }
  100% {
    height: 50vh;
  }
}

.inicio1 {
  padding-top: 10%;
}

.inicio2 {
  height: 15vh;
}

.inicio-img {
  padding-top: 1%;
}

.btn-flotante {
  color: #67AEDB;
  background-color: black;
  position: fixed;
  font-size: 41px;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 2px 20px;
  bottom: 40px;
  right: 40px;
  -webkit-transition: all 300ms ease 0ms;
  transition: all 300ms ease 0ms;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.btn-flotante:hover {
  background-color: white;
  /* Color de fondo al pasar el cursor */
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

/*
        MERCADO
*/
.mercado {
  padding-top: 5%;
}

.mercado .mercado-cell img {
  margin-top: -3%;
  -webkit-animation-name: moverderecha;
          animation-name: moverderecha;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes moverderecha {
  0% {
    -webkit-transform: translate(-500px);
            transform: translate(-500px);
  }
  60% {
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes moverderecha {
  0% {
    -webkit-transform: translate(-500px);
            transform: translate(-500px);
  }
  60% {
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.mercado .mercado-p1 {
  height: 10vh;
  padding-top: 30%;
}

.mercado .mercado-p2 {
  height: 15vh;
  padding-top: 20%;
}

/**/
.mercado2 {
  font-family: 'poppins';
  padding-top: 6%;
}

.mercado2 .mercado2-row1 {
  padding-bottom: 1.5%;
}

.mercado2 .mercado2-row2 {
  padding-bottom: 1.5%;
}

.mercado2 .mercado2-row3 {
  padding-bottom: 1.5%;
}

.mercado3 {
  padding-top: 5%;
}

.mercado3 .mercado3-img img {
  margin-top: -3%;
}

.mercado3 .mercado3-text {
  padding-top: 22%;
}

.mercado4 {
  padding-top: 5%;
}

.mercado4 .mercado4-text {
  padding-top: 22%;
}

.mercado4 .mercado4-img {
  -webkit-animation-name: moverderecha;
          animation-name: moverderecha;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@keyframes moverderecha {
  0% {
    -webkit-transform: translate(-500px);
            transform: translate(-500px);
  }
  60% {
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

/*
        STAKING
*/
.staking1 {
  padding: 4% 2.5%  2.5% 4%;
}

/**/
.staking2 {
  padding-top: 6%;
}

.staking2 .staking2-img {
  padding-right: -40%;
  -webkit-animation-name: moverderecha;
          animation-name: moverderecha;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@keyframes moverderecha {
  0% {
    -webkit-transform: translate(-500px);
            transform: translate(-500px);
  }
  60% {
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

/**/
.staking3 {
  padding-top: 4%;
}

.staking3 .staking3-p1 {
  padding-top: 28%;
}

/**/
.staking4 {
  padding-top: 8%;
}

.staking4 .staking4-img {
  padding-top: 8%;
}

/*
        MAIN
*/
.earn {
  padding: 4.5% 0% 4.5% 0%;
}

/**/
.earn1 {
  padding-top: 6%;
}

.earn1 .earn1-text {
  padding-top: 16%;
}

.earn1 .earn1-img {
  -webkit-animation-name: moverizquierda;
          animation-name: moverizquierda;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@keyframes moverizquierda {
  0% {
    -webkit-transform: translate(500px);
            transform: translate(500px);
  }
  60% {
    -webkit-transform: translate(-160px);
            transform: translate(-160px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

/**/
.eanr2 {
  padding-top: 5%;
  padding-bottom: 4%;
}

.eanr2 .earn2-text {
  padding-top: 1.1%;
}

.eanr2 .eanr2-logo {
  padding-top: 1%;
  padding-left: 4%;
  border-radius: 50%;
}

/**/
.earn3 {
  font-family: 'poppins';
  padding-top: 4%;
}

.earn3 .earn3-p1 {
  padding-top: 28%;
}

/*
        MAIN CONTACTO
*/
.contact {
  padding: 4.5% 0% 4.5% 0%;
}

/**/
.contact2 {
  padding-top: 4%;
}

.contact2 .contact2-text {
  padding-top: 10%;
}

.contact2 .contact2-store {
  cursor: pointer;
}

/**/
.contact3 {
  padding-top: 2%;
  padding-bottom: 1%;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
}

/**/
.contact4 {
  margin-top: 6%;
  margin-bottom: 5%;
}

.contact4 .contact4-logo img {
  margin-top: -3%;
  -webkit-animation-name: rotar-btc;
          animation-name: rotar-btc;
  -webkit-animation-iteration-count: 20s;
          animation-iteration-count: 20s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: 1;
          animation-timing-function: 1;
}

@-webkit-keyframes rotar-btc {
  0% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  50% {
    -webkit-transform: rotatey(180deg);
            transform: rotatey(180deg);
  }
  100% {
    -webkit-transform: rotatey(360deg);
            transform: rotatey(360deg);
  }
}

@keyframes rotar-btc {
  0% {
    -webkit-transform: rotatey(0deg);
            transform: rotatey(0deg);
  }
  50% {
    -webkit-transform: rotatey(180deg);
            transform: rotatey(180deg);
  }
  100% {
    -webkit-transform: rotatey(360deg);
            transform: rotatey(360deg);
  }
}

.contact4 .contact4-form {
  padding: 14%;
}

.contact4 .contact4-form .row {
  margin-bottom: -7%;
}

.contact4 .contact4-text {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #67AEDB;
}

.contact4 .contact4-boton {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

/**/
/*# sourceMappingURL=estilos.css.map */