@charset "UTF-8";
/* HTML */
@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppinsB";
  src: url("../assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "inter";
  src: url("../assets/fonts/Inter-Medium.ttf");
}
@font-face {
  font-family: "nunito";
  src: url("../assets/fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "nunitoI";
  src: url("../assets/fonts/Nunito-BoldItalic.ttf");
}
@font-face {
  font-family: "monserrat";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "playfairBI";
  src: url("../assets/fonts/PlayfairDisplay-BoldItalic.ttf");
}
@font-face {
  font-family: "motterdam";
  src: url("../assets/fonts/Motterdam-MVanr.ttf");
}
@font-face {
  font-family: "thecrunch";
  src: url("../assets/fonts/TheCrunch-rvp78.ttf");
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; /*#cccccc;*/
}

.body {
  background-color: #f4f1eb;
}

a.text-reset {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.texto-gradiente {
  background: linear-gradient(270deg, red, orange, yellow, green, rgb(247, 29, 243), purple);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: animarGradiente 20s ease infinite;
}

@keyframes animarGradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.linea-animada {
  height: 4px;
  width: 0;
  background: linear-gradient(270deg, red, orange, yellow, green, blue, purple);
  background-size: 600% 600%;
  animation: recorrerLinea 3s ease-out forwards, animarGradiente 20s ease infinite;
}

@keyframes recorrerLinea {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}
/* DECLARACION DE VARIABLES */
h1 {
  font-size: 4em;
}

/* DECLARACION DE CONDICIONALES
} */
/* MIXINS */
/*
            HEADER
*/
.nav1 .navbar-logo {
  max-height: 7vh;
}
.nav1 .navbar-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "monserrat";
  font-size: 20px;
}
.nav1 .navbar-text a {
  white-space: nowrap;
  text-align: center;
}
.nav1 li {
  padding-right: 1%;
  padding-left: 1%;
  font-size: 20px;
}
.nav1 li:hover {
  transition: all 0.5s;
  font-size: 21px;
  border: 6px groove #cccccc;
  border-radius: 100px;
}

.nav2 {
  font-family: "monserrat";
}

/*
            FOOTER
*/
.footer {
  font-family: "monserrat";
}

.footer-contacto {
  padding: 4px 10px 15px;
}

.logo-footer {
  width: 100%;
  max-width: 550px;
}

/*
        MAIN INDEX - PROYECTOS - ANIMACIONES
*/
.inicio {
  overflow-wrap: break-word;
  word-break: break-word;
  width: 100%;
  padding-top: 6%;
  animation-name: moverizquierda;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-delay: 0s;
}

@keyframes moverizquierda {
  0% {
    transform: translateX(30vw);
  }
  60% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(0);
  }
}
.inicio-text {
  font-family: "poppinsB";
  height: 40vh;
  animation-name: extraindex;
  animation-duration: 2.5s;
  animation-delay: 0s;
}

@keyframes extraindex {
  0% {
    height: 100vh;
  }
  100% {
    height: 50vh;
  }
}
.inicio1 {
  font-size: clamp(40px, 6vw, 100px);
  font-family: "motterdam";
}

.inicio2 {
  font-size: 0.8vw;
  font-family: "nunito";
  padding-bottom: 5vw;
  margin-top: -1.2vw;
  text-align: center;
}

.inicio-img {
  padding-top: 1%;
  border-radius: 50%;
}

.yo-img {
  border-radius: 50%;
}

.btn-flotante {
  color: #cccccc;
  background-color: black;
  position: fixed;
  font-size: 41px;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 2px 20px;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.btn-flotante:hover {
  color: #9b00a0;
  background-color: white; /* Color de fondo al pasar el cursor */
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

.linea-flotante {
  position: relative;
  transition: all 300ms ease 0ms;
  z-index: 20;
  left: 5%;
}

.linea-programador-fondo {
  position: fixed;
  top: 0;
  left: calc(20% - 200px);
  width: 10px; /* o el ancho de tu imagen */
  height: 100%;
  background-image: url("/img/Linea-discontinua.png");
  background-repeat: repeat-y;
  background-position: center;
  z-index: -1; /* Para que quede detrás del contenido */
}

.programador-movimiento {
  position: absolute;
  top: -100px;
  left: calc(20% - 242px);
  animation: moverImagen 20s linear infinite;
}

.programador-movimiento img {
  display: block;
  width: 94px;
  height: auto;
  animation: rotarLeve 2s ease-in-out infinite;
}

@keyframes moverImagen {
  0% {
    top: -100px;
  }
  100% {
    top: 100%;
  }
}
@keyframes rotarLeve {
  0% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}
.seccion-ajustada-proyectos {
  scroll-margin-top: 6rem;
  position: relative;
  overflow: hidden;
}

.rectangulo-proyectos {
  position: relative;
  background-color: #000000;
  padding: 2rem;
  border-radius: 15px;
  margin: 4rem auto;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.rectangulo-proyectos::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(270deg, red, orange, yellow, green, blue, purple);
  background-size: 600% 600%;
  animation: animarGradiente 20s ease infinite;
  z-index: -1;
  border-radius: 18px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  padding: 6px;
  box-sizing: border-box;
}

@keyframes animarGradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.zoom {
  height: auto;
  transition: transform 0.3s ease;
}

.zoom:hover {
  transform: scale(1.4);
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 4px solid #000000;
}

/*
        PROYECTOS
*/
.proyecto1 {
  font-family: "poppins";
}
.proyecto1 .proyecto1-img img {
  margin-top: 0%;
}
.proyecto1 .proyecto1-text {
  margin-top: 5%;
  color: #e0e0e0;
}
.proyecto1 .proyecto1-text .proyecto1-text-titulo {
  font-size: clamp(22px, 3vw, 56px);
  font-weight: bold;
}
.proyecto1 .proyecto1-text .proyecto1-text-descripcion {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 600;
  line-height: 1.5;
}

/**/
.proyecto2 {
  font-family: "poppins";
}
.proyecto2 .proyecto2-img img {
  margin-top: 0%;
}
.proyecto2 .proyecto2-text {
  margin-top: 5%;
  color: #e0e0e0;
}
.proyecto2 .proyecto2-text .proyecto2-text-titulo {
  font-size: clamp(22px, 3vw, 56px);
  font-weight: bold;
}
.proyecto2 .proyecto2-text .proyecto2-text-descripcion {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 600;
  line-height: 1.5;
}

/**/
.proyecto3 {
  font-family: "poppins";
}
.proyecto3 .proyecto3-img img {
  margin-top: 0%;
}
.proyecto3 .proyecto3-text {
  margin-top: 5%;
  color: #e0e0e0;
}
.proyecto3 .proyecto3-text .proyecto3-text-titulo {
  font-size: clamp(22px, 3vw, 56px);
  font-weight: bold;
}
.proyecto3 .proyecto3-text .proyecto3-text-descripcion {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 600;
  line-height: 1.5;
}

/**/
.proyecto4 {
  font-family: "poppins";
}
.proyecto4 .proyecto4-img img {
  margin-top: 0%;
}
.proyecto4 .proyecto4-text {
  margin-top: 5%;
  color: #e0e0e0;
}
.proyecto4 .proyecto4-text .proyecto4-text-titulo {
  font-size: clamp(22px, 3vw, 56px);
  font-weight: bold;
}
.proyecto4 .proyecto4-text .proyecto4-text-descripcion {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 600;
  line-height: 1.5;
}

/**/
.proyecto5 {
  font-family: "poppins";
}
.proyecto5 .proyecto5-img img {
  margin-top: 0%;
}
.proyecto5 .proyecto5-text {
  margin-top: 5%;
  color: #e0e0e0;
}
.proyecto5 .proyecto5-text .proyecto5-text-titulo {
  font-size: clamp(22px, 3vw, 56px);
  font-weight: bold;
}
.proyecto5 .proyecto5-text .proyecto5-text-descripcion {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 600;
  line-height: 1.5;
}

/**/
.proyecto6 {
  font-family: "poppins";
}
.proyecto6 .proyecto6-img img {
  margin-top: 0%;
  margin-right: 8rem;
}
.proyecto6 .proyecto6-text {
  margin-top: 5%;
  color: #e0e0e0;
}
.proyecto6 .proyecto6-text .proyecto6-text-titulo {
  font-size: clamp(22px, 3vw, 56px);
  font-weight: bold;
}
.proyecto6 .proyecto6-text .proyecto6-text-descripcion {
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 600;
  line-height: 1.5;
}

/*
        SOBREMI
*/
/**/
.SobreMi-titulo {
  padding: 4.5% 0% 4.5% 0%;
}
.SobreMi-titulo .SobreMi-titulo-text {
  color: #fff;
  font-family: "playfairBI";
  font-size: 2.5rem;
  padding-top: 4%;
}

/**/
.SobreMi1 {
  padding-top: 2%;
  padding-bottom: 6%;
}
.SobreMi1 .SobreMi1-text {
  font-family: "nunito";
  font-size: 3rem;
  margin-top: 0%;
  padding-top: 10vh;
}
.SobreMi1 .SobreMi1-text-resumen {
  font-family: "inter";
}
.SobreMi1 .SobreMi1-logo {
  padding-top: 1%;
  padding-left: 4%;
  border-radius: 50%;
}
.SobreMi1 .SobreMi1-img {
  margin-top: 5%;
  padding-right: 5%;
}

/*
        CONTACTO
*/
.contacto {
  padding-top: 8vh;
  padding-left: 18vh;
  margin-bottom: 15vh;
  font-family: "poppins";
}
.contacto .contacto-form {
  padding-right: 18vh;
}
.contacto .contacto-text {
  margin-top: 1vh;
}
.contacto .contacto-text .contacto-texto-limitado {
  max-width: 60%;
}
.contacto .contacto-text .contacto-texto-limitado .contacto-titulo {
  font-family: "playfairBI";
}
.contacto .contacto-text .contacto-texto-limitado .contacto-sub-texto {
  font-family: "poppins";
}

/**//*# sourceMappingURL=estilos.css.map */