@charset "UTF-8";
/*

/* */
/* NAV */
@media screen and (max-width: 3441px) {
  .nav li {
    margin-right: 1.625rem;
    margin-left: 1.625rem;
    font-size: clamp(0.6875rem, 1.6vw, 1.25rem);
    border: 2.5px solid transparent;
  }
  .nav li:hover {
    border-radius: 10px;
  }
  .nav li .navbar-text-contacto:hover {
    color: black !important;
    transition: color 0.2s ease, background-color 0.4s ease;
  }
}
@media screen and (max-width: 1921px) {
  .nav li {
    margin-right: 1.325rem;
    margin-left: 1.325rem;
    font-size: clamp(0.6875rem, 1.6vw, 1.25rem);
    border: 2.5px solid transparent;
  }
  .nav li:hover {
    border-radius: 10px;
  }
  .nav li .navbar-text-contacto:hover {
    color: black !important;
    transition: color 0.2s ease, background-color 0.4s ease;
  }
}
@media screen and (max-width: 1441px) {
  .nav li {
    margin-right: 1.325rem;
    margin-left: 1.325rem;
    font-size: clamp(0.6875rem, 1.6vw, 1.25rem);
    border: 2.5px solid transparent;
  }
  .nav li:hover {
    border-radius: 10px;
  }
  .nav li .navbar-text-contacto:hover {
    color: black !important;
    transition: color 0.2s ease, background-color 0.4s ease;
  }
}
@media screen and (max-width: 1201px) {
  .nav li {
    margin-right: 0.325rem;
    margin-left: 0.325rem;
    font-size: clamp(0.6875rem, 1.6vw, 1.25rem);
    border: 2.5px solid transparent;
  }
  .nav li:hover {
    border-radius: 10px;
  }
  .nav li .navbar-text-contacto:hover {
    color: black !important;
    transition: color 0.2s ease, background-color 0.4s ease;
  }
}
@media screen and (max-width: 993px) {
  .nav li {
    margin-right: 0.325rem;
    margin-left: 0.325rem;
    font-size: clamp(0.6875rem, 1.6vw, 1.25rem);
    border: 2.5px solid transparent;
  }
  .nav li:hover {
    border-radius: 10px;
  }
  .nav li .navbar-text-contacto:hover {
    color: black !important;
    transition: color 0.2s ease, background-color 0.4s ease;
  }
}
@media screen and (max-width: 769px) {
  .nav .navbar-text a {
    padding: 0.4rem 0.8rem;
  }
  .nav li {
    margin-right: 0.325rem;
    margin-left: 0.325rem;
    font-size: clamp(1.1875rem, 1.6vw, 1.25rem);
  }
  .nav li:hover {
    border-radius: 10px;
  }
  .nav li .navbar-text-contacto:hover {
    color: black !important;
    transition: color 0.2s ease, background-color 0.4s ease;
  }
}
@media screen and (max-width: 570px) {
  .nav .navbar-text a {
    padding: 0.4rem 0.8rem;
  }
  .nav li {
    margin-right: 0.325rem;
    margin-left: 0.325rem;
    font-size: clamp(1.1875rem, 1.6vw, 1.25rem);
  }
  .nav li:hover {
    border-radius: 10px;
  }
  .nav li .navbar-text-contacto:hover {
    color: black !important;
    transition: color 0.2s ease, background-color 0.4s ease;
  }
}
@media screen and (max-width: 370px) {
  .nav .navbar-text a {
    padding: 0.4rem 0.8rem;
  }
  .nav li {
    margin-right: 0.325rem;
    margin-left: 0.325rem;
    font-size: clamp(1.1875rem, 1.6vw, 1.25rem);
  }
  .nav li:hover {
    border-radius: 10px;
  }
  .nav li .navbar-text-contacto:hover {
    color: black !important;
    transition: color 0.2s ease, background-color 0.4s ease;
  }
}
/* FOOTER */
@media screen and (max-width: 1921px) {
  .logo-footer {
    margin-top: 1.25rem;
    width: 100%;
    max-width: 5rem;
  }
}
@media screen and (max-width: 1401px) {
  .logo-footer {
    width: 100%;
    max-width: 5rem;
  }
}
@media screen and (max-width: 1202px) {
  .logo-footer {
    width: 100%;
    max-width: 5rem;
  }
}
@media screen and (max-width: 992px) {
  .logo-footer {
    display: none;
  }
  .texto-footer {
    text-align: center;
  }
  .pre-logo-footer {
    display: none;
  }
}
@media screen and (max-width: 769px) {
  .logo-footer {
    display: none;
  }
  .texto-footer {
    text-align: center;
  }
  .pre-logo-footer {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .logo-footer {
    display: none;
  }
  .texto-footer {
    text-align: center;
  }
  .pre-logo-footer {
    display: none;
  }
}
/* BOTON FLOTANTE */
@media screen and (max-width: 1400px) {
  .btn-flotante {
    font-size: 41px;
    border-radius: 5px;
    letter-spacing: 2px;
    padding: 2px 20px;
  }
}
@media screen and (max-width: 1200px) {
  .btn-flotante {
    font-size: 41px;
    border-radius: 5px;
    letter-spacing: 2px;
    padding: 2px 20px;
  }
}
@media screen and (max-width: 992px) {
  .btn-flotante {
    font-size: 41px;
    border-radius: 5px;
    letter-spacing: 2px;
    padding: 2px 20px;
  }
}
@media screen and (max-width: 768px) {
  .btn-flotante {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .btn-flotante {
    display: none;
  }
}
/* SOBREMI */
@media screen and (max-width: 3441px) {
  .sobremi {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 1921px) {
  .sobremi {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 1441px) {
  .sobremi {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 1202px) {
  .sobremi {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 993px) {
  .sobremi {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 769px) {
  .sobremi {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 576px) {
  .sobremi {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
  .sobremi .sobremi {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 376px) {
  .sobremi {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
  .sobremi .sobremi {
    padding-top: 1rem;
  }
}
/* SOBREMI DESCRIPCION */
@media screen and (max-width: 3441px) {
  .SobreMi1 .SobreMi1-text-resumen {
    font-family: "inter";
  }
  .SobreMi1 .SobreMi1-img {
    margin-top: 10vh;
    padding-right: 5vw;
  }
}
@media screen and (max-width: 1921px) {
  .SobreMi1 .SobreMi1-text-resumen {
    font-family: "inter";
  }
  .SobreMi1 .SobreMi1-img {
    margin-top: 7vh;
    padding-right: 5vw;
  }
}
@media screen and (max-width: 1441px) {
  .SobreMi1 .SobreMi1-text {
    padding-top: 3vh;
  }
  .SobreMi1 .SobreMi1-text-resumen {
    font-family: "inter";
  }
  .SobreMi1 .SobreMi1-img {
    margin-top: 6vh;
    padding-right: 5vw;
  }
}
@media screen and (max-width: 1202px) {
  .SobreMi1 .SobreMi1-text {
    padding-top: 3vh;
  }
  .SobreMi1 .SobreMi1-text-resumen {
    font-family: "inter";
  }
  .SobreMi1 .SobreMi1-img {
    margin-top: 3vh;
    padding-right: 5vw;
  }
}
@media screen and (max-width: 993px) {
  .SobreMi1 .SobreMi1-text {
    padding-top: 5vh;
  }
  .SobreMi1 .SobreMi1-text-resumen {
    font-family: "inter";
  }
  .SobreMi1 .SobreMi1-img {
    margin-top: 7vh;
    padding-right: 5vw;
  }
}
@media screen and (max-width: 769px) {
  .SobreMi1 .SobreMi1-text {
    padding-top: 3vh;
    text-align: center;
  }
  .SobreMi1 .SobreMi1-text-resumen {
    text-align: center;
  }
  .SobreMi1 .SobreMi1-img {
    margin-top: 5vh;
    padding-right: 0;
  }
}
@media screen and (max-width: 577px) {
  .SobreMi1-img2 {
    display: flex;
  }
  .SobreMi1 .SobreMi1-text {
    padding-top: 5vh;
    text-align: center;
  }
  .SobreMi1 .SobreMi1-text-resumen {
    text-align: center;
  }
  .SobreMi1 .SobreMi1-img {
    margin-top: 2vh;
    padding-right: 0vw;
  }
}
/* PROYECTOS INICIO INDEX */
@media screen and (max-width: 3441px) {
  .inicio {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 1921px) {
  .inicio {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 1441px) {
  .inicio {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 1202px) {
  .inicio {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 993px) {
  .inicio {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 769px) {
  .inicio {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 576px) {
  .inicio {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
  .inicio .inicio {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 376px) {
  .inicio {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
  .inicio .inicio {
    padding-top: 1rem;
  }
}
/* PROYECTOS TAMAÑOS CONTEINER */
@media screen and (max-width: 3441px) {
  .rectangulo-proyectos {
    max-height: 26rem;
  }
}
@media screen and (max-width: 1921px) {
  .rectangulo-proyectos {
    max-height: 26rem;
  }
}
@media screen and (max-width: 1401px) {
  .rectangulo-proyectos {
    max-height: 24rem;
  }
}
@media screen and (max-width: 1202px) {
  .rectangulo-proyectos {
    max-height: 24rem;
  }
}
@media screen and (max-width: 993px) {
  .rectangulo-proyectos {
    max-height: 24rem;
  }
}
@media screen and (max-width: 769px) {
  .rectangulo-proyectos {
    max-height: 24rem;
  }
}
@media screen and (max-width: 576px) {
  .rectangulo-proyectos {
    max-width: 20rem;
    max-height: 24rem;
  }
}
@media screen and (max-width: 376px) {
  .rectangulo-proyectos {
    max-width: 20rem;
    max-height: 24rem;
  }
}
/* PROYECTO1 */
/* PROYECTO2 */
@media screen and (max-width: 3441px) {
  .proyecto2 .proyecto2-img img {
    margin-top: 0vh;
    width: 100%;
    height: auto;
  }
  .proyecto2 .proyecto2-text {
    margin-top: 6vh;
  }
}
@media screen and (max-width: 1920px) {
  .proyecto2 .proyecto2-img img {
    margin-top: 0vh;
    width: 100%;
    height: auto;
  }
  .proyecto2 .proyecto2-text {
    margin-top: 6vh;
  }
}
@media screen and (max-width: 1441px) {
  .proyecto2 .proyecto2-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto2 .proyecto2-text {
    margin-top: 6vh;
  }
}
@media screen and (max-width: 1201px) {
  .proyecto2 .proyecto2-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto2 .proyecto2-text {
    margin-top: 6vh;
  }
}
@media screen and (max-width: 992px) {
  .proyecto2 .proyecto2-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto2 .proyecto2-text {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 768px) {
  .proyecto2 .proyecto2-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto2 .proyecto2-text {
    margin-top: 4vh;
  }
}
@media screen and (max-width: 576px) {
  .proyecto2 .proyecto2-img img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
    height: auto;
  }
  .proyecto2 .proyecto2-text {
    margin-top: 1vh;
  }
}
@media screen and (max-width: 376px) {
  .proyecto2 .proyecto2-img img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
    height: auto;
  }
  .proyecto2 .proyecto2-text {
    margin-top: 1vh;
  }
}
/* PROYECTO3 */
@media screen and (max-width: 3441px) {
  .proyecto3 .proyecto3-img img {
    margin-top: 0vh;
    width: 100%;
    height: auto;
  }
  .proyecto3 .proyecto3-text {
    margin-top: 4vh;
  }
}
@media screen and (max-width: 1921px) {
  .proyecto3 .proyecto3-img img {
    margin-top: 0vh;
    width: 100%;
    height: auto;
  }
  .proyecto3 .proyecto3-text {
    margin-top: 4vh;
  }
}
@media screen and (max-width: 1441px) {
  .proyecto3 .proyecto3-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto3 .proyecto3-text {
    margin-top: 7vh;
  }
}
@media screen and (max-width: 1201px) {
  .proyecto3 .proyecto3-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto3 .proyecto3-text {
    margin-top: 6vh;
  }
}
@media screen and (max-width: 992px) {
  .proyecto3 .proyecto3-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto3 .proyecto3-text {
    margin-top: 6vh;
  }
}
@media screen and (max-width: 768px) {
  .proyecto3 .proyecto3-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto3 .proyecto3-text {
    margin-top: 4vh;
  }
}
@media screen and (max-width: 576px) {
  .proyecto3 .proyecto3-img img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
    height: auto;
  }
  .proyecto3 .proyecto3-text {
    margin-top: 6vh;
  }
}
@media screen and (max-width: 376px) {
  .proyecto3 .proyecto3-img img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
    height: auto;
  }
  .proyecto3 .proyecto3-text {
    margin-top: 6vh;
  }
}
/* PROYECTO4 */
@media screen and (max-width: 3441px) {
  .proyecto4 .proyecto4-img img {
    margin-top: 0vh;
    width: 100%;
    height: auto;
  }
  .proyecto4 .proyecto4-text {
    margin-top: 4vh;
  }
}
@media screen and (max-width: 1921px) {
  .proyecto4 .proyecto4-img img {
    margin-top: 0vh;
    width: 100%;
    height: auto;
  }
  .proyecto4 .proyecto4-text {
    margin-top: 4vh;
  }
}
@media screen and (max-width: 1441px) {
  .proyecto4 .proyecto4-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto4 .proyecto4-text {
    margin-top: 4vh;
  }
}
@media screen and (max-width: 1201px) {
  .proyecto4 .proyecto4-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto4 .proyecto4-text {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 993px) {
  .proyecto4 .proyecto4-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto4 .proyecto4-text {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 768px) {
  .proyecto4 .proyecto4-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto4 .proyecto4-text {
    margin-top: 2vh;
  }
}
@media screen and (max-width: 576px) {
  .proyecto4 .proyecto4-img img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
    height: auto;
  }
  .proyecto4 .proyecto4-text {
    margin-top: -3vh;
    padding-bottom: 3vh;
  }
}
@media screen and (max-width: 376px) {
  .proyecto4 .proyecto4-img img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
    height: auto;
  }
  .proyecto4 .proyecto4-text {
    margin-top: -3vh;
    padding-bottom: 3vh;
  }
}
/* PROYECTO5 */
@media screen and (max-width: 3441px) {
  .proyecto5 .proyecto5-img img {
    margin-top: 0vh;
    width: 100%;
    height: auto;
  }
  .proyecto5 .proyecto5-text {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 1921px) {
  .proyecto5 .proyecto5-img img {
    margin-top: 0vh;
    width: 100%;
    height: auto;
  }
  .proyecto5 .proyecto5-text {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 1441px) {
  .proyecto5 .proyecto5-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto5 .proyecto5-text {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 1201px) {
  .proyecto5 .proyecto5-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto5 .proyecto5-text {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 993px) {
  .proyecto5 .proyecto5-img img {
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto5 .proyecto5-text {
    margin-top: 3vh;
  }
}
@media screen and (max-width: 768px) {
  .proyecto5 .proyecto5-img img {
    display: flex;
    justify-content: center;
    margin-top: 0vh;
    width: 95%;
    height: auto;
  }
  .proyecto5 .proyecto5-text {
    margin-top: 2vh;
  }
}
@media screen and (max-width: 576px) {
  .proyecto5 .proyecto5-img img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
    height: auto;
  }
  .proyecto5 .proyecto5-text {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 376px) {
  .proyecto5 .proyecto5-img img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
    height: auto;
  }
  .proyecto5 .proyecto5-text {
    margin-top: 5vh;
  }
}
/* PROYECTO6 */
@media screen and (max-width: 3441px) {
  .proyecto6 .proyecto6-img img {
    margin-top: 0vh;
    margin-right: 14vh;
    max-height: 26.5vh;
  }
  .proyecto6 .proyecto6-text {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 1921px) {
  .proyecto6 .proyecto6-img img {
    margin-top: 0vh;
    margin-right: 17vh;
    max-height: 26.5vh;
  }
  .proyecto6 .proyecto6-text {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 1441px) {
  .proyecto6 .proyecto6-img img {
    margin-top: 0vh;
    margin-right: 21vh;
    max-height: 26.5vh;
  }
  .proyecto6 .proyecto6-text {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 1201px) {
  .proyecto6 .proyecto6-img img {
    margin-top: 0vh;
    margin-right: 19vh;
    max-height: 26.5vh;
  }
  .proyecto6 .proyecto6-text {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 993px) {
  .proyecto6 .proyecto6-img img {
    margin-top: 0vh;
    margin-right: 14vh;
    max-height: 24.5vh;
  }
  .proyecto6 .proyecto6-text {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 769px) {
  .proyecto6 .proyecto6-img img {
    margin-top: 0vh;
    margin-right: 8vh;
    max-height: 18.5vh;
  }
  .proyecto6 .proyecto6-text {
    margin-top: 5vh;
  }
}
@media screen and (max-width: 576px) {
  .proyecto6 .proyecto6-img img {
    margin-top: 0vh;
    margin-right: 12.5vh;
    max-height: 20.5vh;
  }
  .proyecto6 .proyecto6-text {
    margin-top: 2vh;
  }
}
@media screen and (max-width: 376px) {
  .proyecto6 .proyecto6-img img {
    margin-top: 0vh;
    margin-right: 12.5vh;
    max-height: 20.5vh;
  }
  .proyecto6 .proyecto6-text {
    margin-top: 2vh;
  }
}
/* ZOOM DE PROYECTOS */
@media screen and (max-width: 3441px) {
  .zoom:hover {
    transform: scale(1.4);
  }
}
@media screen and (max-width: 1921px) {
  .zoom:hover {
    transform: scale(1.4);
  }
}
@media screen and (max-width: 1441px) {
  .zoom:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 1202px) {
  .zoom:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 993px) {
  .zoom:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 769px) {
  .zoom:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 576px) {
  .zoom:hover {
    transform: scale(1.1);
  }
}
@media screen and (max-width: 376px) {
  .zoom:hover {
    transform: scale(1.1);
  }
}
/* CONTACTO */
@media screen and (max-width: 3441px) {
  .contacto {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 1921px) {
  .contacto {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 1441px) {
  .contacto {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 1202px) {
  .contacto {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 993px) {
  .contacto {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 769px) {
  .contacto {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
}
@media screen and (max-width: 576px) {
  .contacto {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
  .contacto .contacto {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 376px) {
  .contacto {
    height: 35vh;
    padding: 2rem 1rem;
    margin: 0;
    animation-name: extraindex;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  @keyframes extraindex {
    0% {
      height: 100vh;
    }
    100% {
      height: 35vh;
    }
  }
  .contacto .contacto {
    padding-top: 1rem;
  }
}
/* CONTACTO TEXTO */
@media screen and (max-width: 3441px) {
  .inicio-contacto {
    height: 30vh;
  }
  .inicio-contacto .inicio1-contacto {
    display: block;
    margin-top: -4vh;
  }
}
@media screen and (max-width: 1921px) {
  .inicio-contacto {
    height: 30vh;
  }
  .inicio-contacto .inicio1-contacto {
    display: block;
    margin-top: -1vh;
  }
}
@media screen and (max-width: 1401px) {
  .inicio-contacto {
    height: 31vh;
  }
  .inicio-contacto .inicio1-contacto {
    display: block;
    margin-top: -1vh;
  }
}
@media screen and (max-width: 1201px) {
  .inicio-contacto {
    height: 32vh;
  }
  .inicio-contacto .inicio1-contacto {
    display: block;
    margin-top: 1vh;
  }
}
@media screen and (max-width: 993px) {
  .inicio-contacto {
    height: 32vh;
  }
  .inicio-contacto .inicio1-contacto {
    display: block;
    margin-top: 3vh;
  }
}
@media screen and (max-width: 769px) {
  .inicio-contacto {
    height: 18vh;
  }
  .inicio-contacto .inicio1-contacto {
    display: block;
    margin-top: -3vh;
  }
}
@media screen and (max-width: 571px) {
  .inicio-contacto {
    height: 16vh;
  }
  .inicio-contacto .inicio1-contacto {
    display: block;
    margin-top: -12vh;
    padding-top: 10vh;
  }
}
@media screen and (max-width: 371px) {
  .inicio-contacto {
    height: 16vh;
  }
  .inicio-contacto .inicio1-contacto {
    display: block;
    margin-top: -12vh;
    padding-top: 10vh;
  }
}
/* FORMULARIO CONTACTO *//*# sourceMappingURL=media.css.map */