/*

/* */

@media screen and (max-width: 2560px) {

}


@media screen and (max-width: 1920px) {

}

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

/* NAV1 */

@media screen and (max-width: 1400px) {
    .nav1{
        .navbar-logo{
            max-width: 200px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .nav1{
        .navbar-logo{
            max-width: 195px;
        }
    }
}



@media screen and (max-width: 990px) {
    .nav1{
        max-width: 990px;
        .navbar-logo{
            max-width: 190px;
        }
    }
}


@media screen and (max-width: 760px) {
    .nav1{
        max-width: 760px;
        .navbar-logo{
            max-width: 180px;
        }
    }
}



@media screen and (max-width: 570px) {
    .nav1{
        max-width: 570px;
        .navbar-logo{
            max-width: 180px;
        }
    }
}

@media screen and (max-width: 370px) {
    .nav1{
        max-width: 370px;
        .navbar-logo{
            max-width: 170px;
        }
    }
}

/* NAV2 */

@media screen and (max-width: 1400px) {
    .nav2{
        .navbar2-logo{
            max-width: 200px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .nav2{
        .navbar2-logo{
            max-width: 190px;
        }
    }
}



@media screen and (max-width: 990px) {
    .nav2{
        max-width: 990px;
        .navbar2-logo{
            max-width: 180px;
        }
    }
}


@media screen and (max-width: 760px) {
    .nav2{
        max-width: 760px;
        .navbar2-logo{
            max-width: 170px;
        }
    }
}



@media screen and (max-width: 570px) {
    .nav2{
        max-width: 570px;
        .navbar2-logo{
            max-width: 160px;
        }
    }
}

@media screen and (max-width: 370px) {
    .nav2{
        max-width: 370px;
        .navbar2-logo{
            max-width: 150px;
        }
    }
}

/* FOOTER */

@media screen and (max-width: 1200px) {
    .logo-footer {
        width: 100%; 
        max-width: 150vh; 
    }
}

@media screen and (max-width: 992px) {
    .logo-footer {
        display: none;
    }
    .texto-footer{
        text-align: center;
    }
    .pre-logo-footer{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .logo-footer {
        display: none;
    }
    .texto-footer{
        text-align: center;
    }
    .pre-logo-footer{
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .logo-footer {
        display: none;
    }
    .texto-footer{
        text-align: center;
    }
    .pre-logo-footer{
        display: none;
    }
}

/* BOTON FLOTANTE */


@media screen and (max-width: 1400px) {
    .btn-flotante {
        font-size: 41px; 
        border-radius: 5px; 
        letter-spacing: 2px;  
        padding: 2px 20px; 
    }
}

@media screen and (max-width: 1200px) {
    .btn-flotante {
        font-size: 41px; 
        border-radius: 5px; 
        letter-spacing: 2px;  
        padding: 2px 20px; 
    }
}

@media screen and (max-width: 992px) {
    .btn-flotante {
        font-size: 41px; 
        border-radius: 5px; 
        letter-spacing: 2px;  
        padding: 2px 20px; 
    }
}

@media screen and (max-width: 768px) {
    .btn-flotante {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .btn-flotante {
        display: none;
    }
}


/* INICIO - SOBREMI - CONTACTO */

@media screen and (max-width: 3441px) {
    .inicio{
        max-height: 40vh;
        .inicio1{
            padding-top: -1%;
        }
        .inicio2{
            padding-top: 1%;
            font-size: 16px;
        }
    }

}

@media screen and (max-width: 1400px) {
    .inicio{
        height: 30vh;
        .inicio1{
            display: block;
            padding-top: 1%;
        }
        .inicio2{
            padding-top: 1%;
            font-size: 16px;
        }
    }

}

@media screen and (max-width: 1200px) {
    .inicio{
        padding-top: 8%;
        height: 32vh;
        .inicio1{
            padding-top: 1%;
        }
        .inicio2{
            padding-top: 1%;
        }
    }

}

@media screen and (max-width: 990px) {
    .inicio{
        height: 18vh;
        margin-top: -6%;
        .inicio1{
            margin-top: 1%;
        }
        .inicio2{
            display: none;
            padding-top: 1%;
        }
    }
}

@media screen and (max-width: 760px) {
    .inicio{
        height: 16vh;
        margin-top: -5%;
        .inicio1{
            margin-top: -1%;
        }
        .inicio2{
            display: none;
        }
    }
}

@media screen and (max-width: 570px) {
    .inicio{
        height: 14vh;
        margin-top: -5%;
        .inicio1{
            margin-top: -1%;
        }
        .inicio2{
            display: none;
        }
    }
}

/* SOBREMI */

@media screen and (max-width: 1920px) {
    .SobreMi-titulo{
        margin-top: -5%;
        .SobreMi-titulo-text{
            font-size: 2.2rem;
        }
    }
}


@media screen and (max-width: 1400px) {
    .SobreMi-titulo{
        margin-top: -5%;
        .SobreMi-titulo-text{
            font-size: 2.2rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .SobreMi-titulo{
        margin-top: -5%;
        .SobreMi-titulo-text{
            font-size: 2.2rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .SobreMi-titulo{
        margin-top: -7%;
        .SobreMi-titulo-text{
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .SobreMi-titulo{
        margin-top: -12%;
        .SobreMi-titulo-text{
            font-size: 1.3rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .SobreMi-titulo{
        margin-top: -21%;
        .SobreMi-titulo-text{
            font-size: 1.1rem;
        }
    }
}

/* PROYECTOS */

/* CONTACTO */

