/*

/* */

@media screen and (max-width: 3441px) {

}

@media screen and (max-width: 1921px) {

}

@media screen and (max-width: 1401px) {

}

@media screen and (max-width: 1202px) {

}

@media screen and (max-width: 993px) {

}

@media screen and (max-width: 769px) {

}

@media screen and (max-width: 576px) {

}

/* NAV1 */

@media screen and (max-width: 1400px) {
    .nav1{
        .navbar-logo{
            max-width: 200px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .nav1{
        .navbar-logo{
            max-width: 195px;
        }
    }
}



@media screen and (max-width: 990px) {
    .nav1{
        max-width: 990px;
        .navbar-logo{
            max-width: 190px;
        }
    }
}


@media screen and (max-width: 760px) {
    .nav1{
        max-width: 760px;
        .navbar-logo{
            max-width: 180px;
        }
    }
}



@media screen and (max-width: 570px) {
    .nav1{
        max-width: 570px;
        .navbar-logo{
            max-width: 180px;
        }
    }
}

@media screen and (max-width: 370px) {
    .nav1{
        max-width: 370px;
        .navbar-logo{
            max-width: 170px;
        }
    }
}

/* NAV2 */

@media screen and (max-width: 1400px) {
    .nav2{
        .navbar2-logo{
            max-width: 200px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .nav2{
        .navbar2-logo{
            max-width: 190px;
        }
    }
}



@media screen and (max-width: 990px) {
    .nav2{
        max-width: 990px;
        .navbar2-logo{
            max-width: 180px;
        }
    }
}


@media screen and (max-width: 760px) {
    .nav2{
        max-width: 760px;
        .navbar2-logo{
            max-width: 170px;
        }
    }
}



@media screen and (max-width: 570px) {
    .nav2{
        max-width: 570px;
        .navbar2-logo{
            max-width: 160px;
        }
    }
}

@media screen and (max-width: 370px) {
    .nav2{
        max-width: 370px;
        .navbar2-logo{
            max-width: 150px;
        }
    }
}

/* FOOTER */

@media screen and (max-width: 1200px) {
    .logo-footer {
        width: 100%; 
        max-width: 150vh; 
    }
}

@media screen and (max-width: 992px) {
    .logo-footer {
        display: none;
    }
    .texto-footer{
        text-align: center;
    }
    .pre-logo-footer{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .logo-footer {
        display: none;
    }
    .texto-footer{
        text-align: center;
    }
    .pre-logo-footer{
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .logo-footer {
        display: none;
    }
    .texto-footer{
        text-align: center;
    }
    .pre-logo-footer{
        display: none;
    }
}

/* BOTON FLOTANTE */


@media screen and (max-width: 1400px) {
    .btn-flotante {
        font-size: 41px; 
        border-radius: 5px; 
        letter-spacing: 2px;  
        padding: 2px 20px; 
    }
}

@media screen and (max-width: 1200px) {
    .btn-flotante {
        font-size: 41px; 
        border-radius: 5px; 
        letter-spacing: 2px;  
        padding: 2px 20px; 
    }
}

@media screen and (max-width: 992px) {
    .btn-flotante {
        font-size: 41px; 
        border-radius: 5px; 
        letter-spacing: 2px;  
        padding: 2px 20px; 
    }
}

@media screen and (max-width: 768px) {
    .btn-flotante {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .btn-flotante {
        display: none;
    }
}


/* INICIO - SOBREMI - CONTACTO */

@media screen and (max-width: 3441px) {
    .inicio{
        max-height: 40vh;
        .inicio1{
            padding-top: -1%;
        }
        .inicio2{
            padding-top: 1%;
            font-size: 16px;
        }
    }

}

@media screen and (max-width: 1400px) {
    .inicio{
        height: 30vh;
        .inicio1{
            display: block;
            padding-top: 1%;
        }
        .inicio2{
            padding-top: 1%;
            font-size: 16px;
        }
    }

}

@media screen and (max-width: 1200px) {
    .inicio{
        padding-top: 8%;
        height: 32vh;
        .inicio1{
            padding-top: 1%;
        }
        .inicio2{
            padding-top: 1%;
        }
    }

}

@media screen and (max-width: 990px) {
    .inicio{
        height: 18vh;
        margin-top: -6%;
        .inicio1{
            margin-top: 1%;
        }
        .inicio2{
            display: none;
            padding-top: 1%;
        }
    }
}

@media screen and (max-width: 760px) {
    .inicio{
        height: 16vh;
        margin-top: -5%;
        .inicio1{
            margin-top: -1%;
        }
        .inicio2{
            display: none;
        }
    }
}

@media screen and (max-width: 570px) {
    .inicio{
        height: 14vh;
        margin-top: -5%;
        .inicio1{
            margin-top: -1%;
        }
        .inicio2{
            display: none;
        }
    }
}

/* SOBREMI */

@media screen and (max-width: 1920px) {
    .SobreMi-titulo{
        margin-top: -2%;
        .SobreMi-titulo-text{
            font-size: 2.2rem;
        }
    }
}


@media screen and (max-width: 1400px) {
    .SobreMi-titulo{
        margin-top: -2%;
        .SobreMi-titulo-text{
            font-size: 2.2rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .SobreMi-titulo{
        margin-top: -2%;
        .SobreMi-titulo-text{
            font-size: 2.2rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .SobreMi-titulo{
        margin-top: -4%;
        .SobreMi-titulo-text{
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .SobreMi-titulo{
        margin-top: -12%;
        .SobreMi-titulo-text{
            font-size: 1.3rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .SobreMi-titulo{
        margin-top: -21%;
        .SobreMi-titulo-text{
            font-size: 1.1rem;
        }
    }
}

/* SOBREMI DESCRIPCION */

@media screen and (max-width: 3441px) {
    .SobreMi1{
        .SobreMi1-text{
            font-size: clamp(22px, 3vw, 56px);
        }
        .SobreMi1-text-resumen{
            font-family: 'inter';
            font-size: clamp(20px, 0.1vw, 40px);
        }
        .SobreMi1-img{
            margin-top: 10%;
            padding-right: 5%;
        }
    }
}

@media screen and (max-width: 1921px) {
    .SobreMi1{
        .SobreMi1-text{
            font-size: clamp(22px, 3vw, 56px);
        }
        .SobreMi1-text-resumen{
            font-family: 'inter';
            font-size: clamp(20px, 0.1vw, 40px);
        }
        .SobreMi1-img{
            margin-top: 10%;
            padding-right: 5%;
        }
    }
}

@media screen and (max-width: 1441px) {
    .SobreMi1{
        .SobreMi1-text{
            padding-top: 3vh;
            font-size: clamp(22px, 3vw, 56px);
        }
        .SobreMi1-text-resumen{
            font-family: 'inter';
            font-size: clamp(20px, 0.1vw, 40px);
        }
        .SobreMi1-img{
            margin-top: 3%;
            padding-right: 5%;
        }
    }
}

@media screen and (max-width: 1202px) {
    .SobreMi1{
        .SobreMi1-text{
            padding-top: 3vh;
            font-size: clamp(22px, 3vw, 56px);
        }
        .SobreMi1-text-resumen{
            font-family: 'inter';
            font-size: clamp(20px, 0.1vw, 40px);
        }
        .SobreMi1-img{
            margin-top: 10%;
            padding-right: 5%;
        }
    }
}

@media screen and (max-width: 993px) {
    .SobreMi1{
        .SobreMi1-text{
            padding-top: 5vh;
            font-size: clamp(22px, 3vw, 56px);
        }
        .SobreMi1-text-resumen{
            font-family: 'inter';
            font-size: clamp(18px, 0.1vw, 36px);
        }
        .SobreMi1-img{
            margin-top: 18%;
            padding-right: 5%;
        }
    }
}

@media screen and (max-width: 769px) {
    .SobreMi1 {
        .SobreMi1-text {
            padding-top: 3vh;
            text-align: center;
            font-size: clamp(22px, 3vw, 56px);
        }
        .SobreMi1-text-resumen {
            text-align: center;
            font-size: clamp(14px, 1.6vw, 18px);
        }
        .SobreMi1-img {
            margin-top: 18%;
            padding-right: 0;
        }
    }
}

@media screen and (max-width: 577px) {
    .SobreMi1-img2{
        display: flex;
    }
    .SobreMi1{
        .SobreMi1-text{
            padding-top: 5vh;
            text-align: center;
            font-size: clamp(22px, 3vw, 56px);
        }
        .SobreMi1-text-resumen{
            text-align: center;
            font-size: clamp(14px, 1.6vw, 18px);
        }
        .SobreMi1-img{
            margin-top: 5%;
            padding-right: 5%;
        }
    }
}

/* PROYECTOS */

@media screen and (max-width: 1919px) {
    .linea-programador{
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .linea-programador{
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .linea-programador{
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .linea-programador{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .linea-programador{
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .linea-programador{
        display: none;
    }
}


/* PROYECTO1 */

@media screen and (max-width: 3441px) {
    .proyecto1{
        .proyecto1-img img{
            margin-top: 0%;
        }
        .proyecto1-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1921px) {
    .proyecto1{
        .proyecto1-img img{
            margin-top: 0%;
        }
        .proyecto1-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .proyecto1{
        .proyecto1-img img{
            margin-top: 0%;
        }
        .proyecto1-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .proyecto1{
        .proyecto1-img img{
            margin-top: 0%;
        }
        .proyecto1-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 992px) {
    .proyecto1{
        .proyecto1-img img{
            margin-top: 0%;
        }
        .proyecto1-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 768px) {
    .proyecto1{
        .proyecto1-img img{
            margin-top: 0%;
        }
        .proyecto1-text{
            margin-top: 2%;
        }
    }
}

@media screen and (max-width: 576px) {
    .proyecto1{
        .proyecto1-img img{
            margin-top: 0%;
        }
        .proyecto1-text{
            margin-top: 5%;
        }
    }
}

/* PROYECTO2 */

@media screen and (max-width: 3441px) {
    .proyecto2{
        .proyecto2-img img{
            margin-top: 0%;
        }
        .proyecto2-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1920px) {
    .proyecto2{
        .proyecto2-img img{
            margin-top: 0%;
        }
        .proyecto2-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .proyecto2{
        .proyecto2-img img{
            margin-top: 0%;
        }
        .proyecto2-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .proyecto2{
        .proyecto2-img img{
            margin-top: 0%;
        }
        .proyecto2-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 992px) {
    .proyecto2{
        .proyecto2-img img{
            margin-top: 0%;
        }
        .proyecto2-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 768px) {
    .proyecto2{
        .proyecto2-img img{
            margin-top: 0%;
        }
        .proyecto2-text{
            margin-top: 2%;
        }
    }
}

@media screen and (max-width: 576px) {
    .proyecto2{
        .proyecto2-img img{
            margin-top: 0%;
        }
        .proyecto2-text{
            margin-top: 5%;
        }
    }
}

/* PROYECTO3 */

@media screen and (max-width: 3441px) {
    .proyecto3{
        .proyecto3-img img{
            margin-top: 0%;
        }
        .proyecto3-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1920px) {
    .proyecto3{
        .proyecto3-img img{
            margin-top: 0%;
        }
        .proyecto3-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .proyecto3{
        .proyecto3-img img{
            margin-top: 0%;
        }
        .proyecto3-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .proyecto3{
        .proyecto3-img img{
            margin-top: 0%;
        }
        .proyecto3-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 992px) {
    .proyecto3{
        .proyecto3-img img{
            margin-top: 0%;
        }
        .proyecto3-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 768px) {
    .proyecto3{
        .proyecto3-img img{
            margin-top: 0%;
        }
        .proyecto3-text{
            margin-top: 2%;
        }
    }
}

@media screen and (max-width: 576px) {
    .proyecto3{
        .proyecto3-img img{
            margin-top: 0%;
        }
        .proyecto3-text{
            margin-top: 5%;
        }
    }
}

/* PROYECTO4 */

@media screen and (max-width: 3441px) {
    .proyecto4{
        .proyecto4-img img{
            margin-top: 0%;
        }
        .proyecto4-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1920px) {
    .proyecto4{
        .proyecto4-img img{
            margin-top: 0%;
        }
        .proyecto4-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .proyecto4{
        .proyecto4-img img{
            margin-top: 0%;
        }
        .proyecto4-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .proyecto4{
        .proyecto4-img img{
            margin-top: 0%;
        }
        .proyecto4-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 992px) {
    .proyecto4{
        .proyecto4-img img{
            margin-top: 0%;
        }
        .proyecto4-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 768px) {
    .proyecto4{
        .proyecto4-img img{
            margin-top: 0%;
        }
        .proyecto4-text{
            margin-top: 2%;
        }
    }
}

@media screen and (max-width: 576px) {
    .proyecto4{
        .proyecto4-img img{
            margin-top: 0%;
        }
        .proyecto4-text{
            margin-top: 5%;
        }
    }
}

/* PROYECTO5 */

@media screen and (max-width: 3441px) {
    .proyecto5{
        .proyecto5-img img{
            margin-top: 0%;
        }
        .proyecto5-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1920px) {
    .proyecto5{
        .proyecto5-img img{
            margin-top: 0%;
        }
        .proyecto5-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .proyecto5{
        .proyecto5-img img{
            margin-top: 0%;
        }
        .proyecto5-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .proyecto5{
        .proyecto5-img img{
            margin-top: 0%;
        }
        .proyecto5-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 992px) {
    .proyecto5{
        .proyecto5-img img{
            margin-top: 0%;
        }
        .proyecto5-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 768px) {
    .proyecto5{
        .proyecto5-img img{
            margin-top: 0%;
        }
        .proyecto5-text{
            margin-top: 2%;
        }
    }
}

@media screen and (max-width: 576px) {
    .proyecto5{
        .proyecto5-img img{
            margin-top: 0%;
        }
        .proyecto5-text{
            margin-top: 5%;
        }
    }
}

/* PROYECTO6 */

@media screen and (max-width: 3441px) {
    .proyecto6{
        .proyecto6-img img{
            margin-top: 0%;
        }
        .proyecto6-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1920px) {
    .proyecto6{
        .proyecto6-img img{
            margin-top: 0%;
        }
        .proyecto6-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .proyecto6{
        .proyecto6-img img{
            margin-top: 0%;
        }
        .proyecto6-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .proyecto6{
        .proyecto6-img img{
            margin-top: 0%;
        }
        .proyecto6-text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 992px) {
    .proyecto6{
        .proyecto6-img img{
            margin-top: 0%;
        }
        .proyecto6text{
            margin-top: 5%;
        }
    }
}

@media screen and (max-width: 768px) {
    .proyecto6{
        .proyecto6-img img{
            margin-top: 0%;
        }
        .proyecto6-text{
            margin-top: 2%;
        }
    }
}

@media screen and (max-width: 576px) {
    .proyecto6{
        .proyecto6-img img{
            margin-top: 0%;
        }
        .proyecto6-text{
            margin-top: 5%;
        }
    }
}

/* CONTACTO */

@media screen and (max-width: 3441px) {
    .contacto {
        padding-top: 8vh;
        padding-left: 18vh;
        margin-bottom: 15vh;
        .contacto-form{
            padding-right: 18vh;
        }
        .contacto-text {
        margin-top: 1vh;
            .contacto-texto-limitado {
            max-width: 60%;
            .contacto-titulo{
                font-size: clamp(22px, 3vw, 56px);
            }
            .contacto-sub-texto{
                font-size: clamp(14px, 1.5vw, 20px);
            }
            }
        }
    }
}

@media screen and (max-width: 1921px) {
    .contacto {
        padding-top: 8vh;
        padding-left: 18vh;
        margin-bottom: 15vh;
        .contacto-form{
            padding-right: 18vh;
        }
        .contacto-text {
        margin-top: 1vh;
            .contacto-texto-limitado {
            max-width: 60%;
            .contacto-titulo{
                font-size: clamp(22px, 3vw, 56px);
            }
            .contacto-sub-texto{
                font-size: clamp(14px, 1.5vw, 20px);
            }
            }
        }
    }
}

@media screen and (max-width: 1401px) {
    .contacto {
        padding-top: 6vh;
        padding-left: 18vh;
        margin-bottom: 15vh;
        .contacto-form{
            padding-right: 18vh;
        }
        .contacto-text {
        margin-top: 1vh;
            .contacto-texto-limitado {
            max-width: 60%;
            .contacto-titulo{
                font-size: clamp(22px, 3vw, 56px);
            }
            .contacto-sub-texto{
                font-size: clamp(14px, 1.5vw, 20px);
            }
            }
        }
    }
}

@media screen and (max-width: 1202px) {
    .contacto {
        padding-top: 5vh;
        padding-left: 18vh;
        margin-bottom: 15vh;
        .contacto-form{
            padding-right: 18vh;
        }
        .contacto-text {
        margin-top: 1vh;
            .contacto-texto-limitado {
            max-width: 80%;
            .contacto-titulo{
                font-size: clamp(22px, 3vw, 56px);
            }
            .contacto-sub-texto{
                font-size: clamp(14px, 1.5vw, 20px);
            }
            }
        }
    }
}

@media screen and (max-width: 993px) {
    .contacto {
        padding-top: 4vh;
        padding-left: 3vh;
        margin-bottom: 15vh;
        .contacto-form{
            padding-right: 8vh;
        }
        .contacto-text {
        margin-top: 1vh;
            .contacto-texto-limitado {
            max-width: 80%;
            .contacto-titulo{
                font-size: clamp(22px, 2.5vw, 56px);
            }
            .contacto-sub-texto{
                font-size: clamp(14px, 1.5vw, 20px);
            }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .contacto {
        padding-top: 3vh;
        padding-left: 2vh;
        margin-bottom: 15vh;
        .contacto-form{
            padding-right: 5vh;
        }
        .contacto-text {
        margin-top: 0vh;
            .contacto-texto-limitado {
            max-width: 80%;
            .contacto-titulo{
                font-size: clamp(22px, 2vw, 56px);
            }
            .contacto-sub-texto{
                font-size: clamp(14px, 1.5vw, 20px);
            }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .contacto {
        padding-top: 0vh;
        padding-left: 1vh;
        margin-bottom: 12vh;
        .contacto-form{
            margin-top: 2vh;
            padding-right: 2vh;
        }
        .contacto-text {
        margin-top: 1vh;
            .contacto-texto-limitado {
            max-width: 100%;
            .contacto-titulo{
                font-size: clamp(22px, 3vw, 56px);
            }
            .contacto-sub-texto{
                font-size: clamp(14px, 1.5vw, 20px);
            }
            }
        }
    }
}